#preferences{
  display:none;
  margin-top:50px;
}

#selectionBlock{
	display:inline-block;
	margin-left:25%;
	width:800px;
	text-align:center;
}

#personalGreeting{
	display:block;
	width:900px;
	height:300px;
	font-size:5em;
	text-align:center;
	margin-top:150px;
	margin-left:350px;
	animation: slideGreeting 5s;
}

@keyframes slideGreeting {
	0% {margin-left:-900px;}

	100%{margin-left:350px;}
}